* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumnh Sans", sans-serif;
}

body {
  height: 100%;
  background-color: #071434;
}

.navbar {
  background: #071434;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_main {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  background-color: #878787;
  background-image: linear-gradient(to top, #ec4156 0%, #ffce41 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-solid {
  margin: 0.5rem;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_link {
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1px;
  width: 100%;
}

a.disable {
  pointer-events: none;
  color: #ccc;
}

.navbar_btn .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: gray;
  color: #ffff;
}

.navbar_btn .button:hover {
  background: #131313;
  transition: all 0.3s ease;
}

.navbar_link:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar_main {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
    background: #131311;
  }

  .navbar_menu.active {
    background: #131311;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
    padding-left: 0;
  }

  #navbar_logo {
    padding-left: 25px;
  }

  .navbar_mobile .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #ffff;
  }

  .navbar_item {
    width: 100%;
  }

  .navbar_link {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar_btn {
    padding-bottom: 2rem;
  }

  .navbar_btn .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    /* height: 80px; */
    margin: 0;
    font-size: 1.2rem;
  }

  .navbar_mobile .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .btn {
    padding: 100px;
  }
}

/* End Nav Styling */

#select-sport {
  float: right;
  clear: both;
  box-sizing: border-box;
  width: 30%;
  padding: 10px 0;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
  display: none;
}

#sport-type {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

/* End select sport */

.container {
  margin: 0 auto;
  height: 100vh;
  width: 80vw;
  background-color: #071434;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: 1fr;
  margin-top: 8vh;
}
.content-left-1 {
  color: white;
}
.title-1 {
  font-size: 3vw;
  margin-bottom: 1vw;
}
.title-2 {
  font-size: 3vw;
  margin-bottom: 1vw;
  margin-top: 4.5vw;
}
.title-3 {
  font-size: 3vw;
  margin-bottom: 1vw;
  margin-top: 4.5vw;
}
.param-1 {
  margin-left: 1.5vw;
  font-size: 1vw;
  margin-bottom: 0.5vw;
}
.param-4 {
  margin-left: 1.5vw;
  font-size: 1vw;
}

.param-3 {
  font-size: 1vw;
  text-decoration: none;
  list-style: none;
  margin-left: 1.5vw;
}
.param-5 {
  font-size: 1vw;
  text-decoration: none;
  list-style: none;
  margin-left: 1.5vw;
}

.param-5 :nth-child(3) {
  margin-bottom: 2vw;
}
.param-5 :nth-child(2) {
  margin-bottom: 0.5vw;
}
.param-5 :nth-child(1) {
  margin-bottom: 0.5vw;

}

.param-3 :nth-child(3) {
  margin-bottom: 2vw;
}
.param-3 :nth-child(2) {
  margin-bottom: 0.5vw;
}
.param-3 :nth-child(1) {
  margin-bottom: 0.5vw;
}

.content-right-1 {
  position: relative;
}
.content-right-1 :nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgb(0, 0, 0, 0.3);
  font-size: 1vw;
}
.content-right-1 :nth-child(1) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-image: url(../images/sport1.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
footer {
  text-align: center;
  color: white;
}

@media screen and (max-width: 1024px){

  .param-1 {
    font-size: 1.5vw;
    margin-bottom: 1vw;
  }
  .param-4 {
    font-size: 1.5vw;
    margin-bottom: 2vw;
  }
  .param-5 {
    font-size: 1.5vw;
  }
  .param-3 {
    font-size: 1.5vw;
  }

  .param-5 :nth-child(3) {
    margin-bottom: 10vw;
  }
  .param-5 :nth-child(2) {
    margin-bottom: 0.7vw;
  }
  .param-5 :nth-child(1) {
    margin-bottom: 0.7vw;
  }

  .param-3 :nth-child(3) {
    margin-bottom: 2vw;
  }
  .param-3 :nth-child(2) {
    margin-bottom: 0.8vw;
  }
  .param-3 :nth-child(1) {
    margin-bottom: 0.8vw;
  }
  .content-right-1 :nth-child(1) {
    background-position: left;
    margin-left: 2vw;
  }
}

@media screen and (max-width: 480px) {
  .content-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .content-right-1 {
    width: 80%;
    height: 20%;
    position: absolute;
    top: 170vw;
  }
  .content-right-1 :nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(0, 0, 0, 0.3);
    font-size: 2vw;
  }

  .content-right-1 :nth-child(1)  {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-left: 0;
  }
  .title-1 {
    font-size: 6vw;
    margin-bottom: 3vw;
  }
  .title-2 {
    font-size: 6vw;
    margin-bottom: 3vw;
    margin-top: 4.5vw;
  }
  .title-3 {
    font-size: 6vw;
    margin-bottom: 3vw;
    margin-top: 4.5vw;
  }
  .param-1 {
    font-size: 3vw;
    margin-bottom: 2vw;
  }
  
  .param-4 {
    font-size: 3vw;
    margin-bottom: 10vw;
  }
  .param-5 {
    font-size: 3vw;
  }
  ul .param-3 :nth-child(3) {
    margin-bottom: 10vw;
  }
  ul .param-3 :nth-child(2) {
    margin-bottom: 2vw;
  }
  ul .param-3 :nth-child(1) {
    margin-bottom: 2vw;
  }

  ul .param-5 :nth-child(3) {
    /* margin-bottom: 10vw; */
  }
  ul .param-5 :nth-child(2) {
    margin-bottom: 2vw;
  }
  ul .param-5ul :nth-child(1) {
    margin-bottom: 2vw;
  }

  .param-3 {
    font-size: 3vw;
    text-decoration: none;
    list-style: none;
    margin-left: 1.5vw;
  }
  
}
